# Ex - GroupBy

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv', sep=',')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [5]:
bd=drinks.groupby(['continent'])
sb=bd.beer_servings.mean()
[sb]

[continent
 AF     61.471698
 AS     37.045455
 EU    193.777778
 OC     89.687500
 SA    175.083333
 Name: beer_servings, dtype: float64]

### Step 5. For each continent print the statistics for wine consumption.

In [4]:
drinks.groupby(['continent']).wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [5]:
pd.pivot_table(drinks,index=['continent','country'], values=['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol'],aggfunc=['mean'])

                                            mean                  \
                                   beer_servings spirit_servings
continent country
AF        Algeria                             25               0
          Angola                             217              57
          Benin                               34               4
          Botswana                           173              35
          Burkina Faso                        25               7
          Burundi                             88               0
          Cabo Verde                         144              56
          Cameroon                           147               1
          Central African Republic            17               2
          Chad                                15               1
          Comoros                              1               3
          Congo                               76               1
          Cote d'Ivoire                       37               1
          DR Congo                            32               3
          Djibouti                            15              44
          Egypt                                6               4
          Equatorial Guinea                   92               0
          Eritrea                             18               0
          Ethiopia                            20               3
          Gabon                              347              98
          Gambia                               8               0
          Ghana                               31               3
          Guinea                               9               0
          Guinea-Bissau                       28              31
          Kenya                               58              22
          Lesotho                             82              29
          Liberia                             19             152
          Libya                                0               0
          Madagascar                          26              15
          Malawi                               8              11
...                                          ...             ...
EU        Ukraine                            206             237
          United Kingdom                     219             126
OC        Australia                          261              72
          Cook Islands                         0             254
          Fiji                                77              35
          Kiribati                            21              34
          Marshall Islands                     0               0
          Micronesia                          62              50
          Nauru                               49               0
          New Zealand                        203              79
          Niue                               188             200
          Palau                              306              63
          Papua New Guinea                    44              39
          Samoa                              105              18
          Solomon Islands                     56              11
          Tonga                               36              21
          Tuvalu                               6              41
          Vanuatu                             21              18
SA        Argentina                          193              25
          Bolivia                            167              41
          Brazil                             245             145
          Chile                              130             124
          Colombia                           159              76
          Ecuador                            162              74
          Guyana                              93             302
          Paraguay                           213             117
          Peru                               163             160
          Suriname                           128             178
          Uruguay                            115              35
          Venezuela                          333             100


                                   total_litres_of_pure_alcohol wine_servings
continent country
AF        Algeria                                           0.7            14
          Angola                                            5.9            45
          Benin                                             1.1            13
          Botswana                                          5.4            35
          Burkina Faso                                      4.3             7
          Burundi                                           6.3             0
          Cabo Verde                                        4.0            16
          Cameroon                                          5.8             4
          Central African Republic                          1.8             1
          Chad                                              0.4             1
          Comoros                                           0.1             1
          Congo                                             1.7             9
          Cote d'Ivoire                                     4.0             7
          DR Congo                                          2.3             1
          Djibouti                                          1.1             3
          Egypt                                             0.2             1
          Equatorial Guinea                                 5.8           233
          Eritrea                                           0.5             0
          Ethiopia                                          0.7             0
          Gabon                                             8.9            59
          Gambia                                            2.4             1
          Ghana                                             1.8            10
          Guinea                                            0.2             2
          Guinea-Bissau                                     2.5            21
          Kenya                                             1.8             2
          Lesotho                                           2.8             0
          Liberia                                           3.1             2
          Libya                                             0.0             0
          Madagascar                                        0.8             4
          Malawi                                            1.5             1
...                                                         ...           ...
EU        Ukraine                                           8.9            45
          United Kingdom                                   10.4           195
OC        Australia                                        10.4           212
          Cook Islands                                      5.9            74
          Fiji                                              2.0             1
          Kiribati                                          1.0             1
          Marshall Islands                                  0.0             0
          Micronesia                                        2.3            18
          Nauru                                             1.0             8
          New Zealand                                       9.3           175
          Niue                                              7.0             7
          Palau                                             6.9            23
          Papua New Guinea                                  1.5             1
          Samoa                                             2.6            24
          Solomon Islands                                   1.2             1
          Tonga                                             1.1             5
          Tuvalu                                            1.0             9
          Vanuatu                                           0.9            11
SA        Argentina                                         8.3           221
          Bolivia                                           3.8             8
          Brazil                                            7.2            16
          Chile                                             7.6           172
          Colombia                                          4.2             3
          Ecuador                                           4.2             3
          Guyana                                            7.1             1
          Paraguay                                          7.3            74
          Peru                                              6.1            21
          Suriname                                          5.6             7
          Uruguay                                           6.6           220
          Venezuela                                         7.7             3

[170 rows x 4 columns]

### Step 7. Print the median alcohol consumption per continent for every column

In [9]:
pd.pivot_table(drinks,index=['continent'], values=['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol'],aggfunc=['median'])

                 median                                               \
          beer_servings spirit_servings total_litres_of_pure_alcohol
continent
AF                 32.0             3.0                         2.30
AS                 17.5            16.0                         1.20
EU                219.0           122.0                        10.00
OC                 52.5            37.0                         1.75
SA                162.5           108.5                         6.85


          wine_servings
continent
AF                  2.0
AS                  1.0
EU                128.0
OC                  8.5
SA                 12.0

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [10]:
pd.pivot_table(drinks,index=['continent'],values=['spirit_servings'],aggfunc=['mean','max','min'])

                     mean             max             min
          spirit_servings spirit_servings spirit_servings
continent
AF              16.339623             152               0
AS              60.840909             326               0
EU             132.555556             373               0
OC              58.437500             254               0
SA             114.750000             302              25